html
{
    padding: 10px;
}
table
{
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #1d65a9;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

td
{
    border: 1px solid #1d65a9;
    text-align: center;
    position: relative;
}

tr
{
    position: relative;
    height: 40px;
}

th
{
    border-bottom: 3px solid #1d65a9;
    background: #fff;
    text-align: center;
}

tr:nth-child(2n+1) td::after
{
    content: '';
    background: #e7f3ff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

tbody td:hover::after
{
    content: '';
    position: absolute;
    text-align: center;
    background: #b5e3f2;
    height: 10000px;
    top: -5000px;
    width: 100%;
    left: 0;
    z-index: -1;
}

tbody tr:hover
{
    background: #b5e3f2;
}

.department
{
    background: url("http://su0.ru/KFB4") no-repeat center;
}

.arrival
{
    background: url("http://su0.ru/G51p") no-repeat center;
}

.aeroflot
{
    background: url("http://su0.ru/QB9w") no-repeat center;
}

.airfrance
{
    background: url("http://su0.ru/GYho") no-repeat center;
}

.klm
{
    background: url("http://su0.ru/F7I2") no-repeat center;
}

form
{
    text-align: center;
}

button
{
    align-content: center;
    visibility: hidden;
}

form > fieldset > label
{
    display: block;
}

input[type="email"]:valid + label + input[type="tel"]:valid ~ br + button
{
    visibility: visible;
}
